<div class="exclusive">
                <div class="prod1">
                    <div class="text2">
                        <h3>EXCLUSIVE</h3>
                        <h1>Fishnet Chair</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt.</p> <a href="#">ORDER US</a> </div>
                </div>
                <div class="prod2">
                    <div class="text2">
                        <h3>EXCLUSIVE</h3>
                        <h1>Fishnet Chair</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt.</p> <a href="#">ORDER US</a> </div>
                </div>
            </div>