<div class="footer">
            <div class="content">
                <img src="/static/img/footer/1.png" class="t1">
                <img src="/static/img/footer/2.png" class="t2">
                <img src="/static/img/footer/Let%E9%B3%A0Stay%20in%20Touch!.png" class="t3">
                <img src="/static/img/footer/links.png" class="t4">
                <input type="text" class="inputbox" placeholder="your email address">
                <a href="#"> <img src="/static/img/footer/but.png" class="but"></a>
                <div class="t5">&copy; COPYRYGHT - INTERIOR {% now 'Y' %}. ALL RIGHTS RESERVED</div>
                <img src="/static/img/footer/social-links.png" class="links">
                <img src="/static/img/footer/Terms%20&%20Conditions%20%20_%20%20Privacy%20policy%20&%20Cookies.png" class="t6">
            </div>
        </div>