  <ul class="menu">
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li><a href="{% url 'mainapp:index' %}">PRODUCTS</a></li>
                <li><a href="#">HISTORY</a></li>
                <li><a href="#">SHOWROOM</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                {% if user.is_authenticated %}
<li>
    <a href="{% url 'auth:edit' %}">
        {{ user.first_name|default:'Пользователь' }}
    </a>
</li>
{% endif %}
<li>
    {% if user.is_authenticated %}
      <a href="{% url 'auth:logout' %}">выйти</a>
    {% else %}
      <a href="{% url 'auth:login' %}">войти</a>
    {% endif %}
</li>
      <li>
        <a href="{% url 'basket:view' %}" class="basket">
    <span>
        {% if basket %} {{ basket|length }} {% endif %}
    </span>
</a>

      </li>
  </ul>